@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-3">
        <h3 class="text-center"> NEWSFEEDS </h3>
        <div class="round service-wrapper" style="border: solid 1px #d8d8d8; margin-top: 10px; background-color: White;">
            @Html.Partial("~/Views/WebParts/_RssFeeds.cshtml")
        </div>
    </div>
    <div class="col-sm-6">
        <br />
        @Html.Partial("~/Views/WebParts/_Carousal.cshtml")
        <br />
        @if (Session["UserID"] != null)
        {
            @Html.Partial("~/Views/WebParts/_CentralPane.cshtml")
        }
        else
        {
            <div style="background-image: url('../../images/createpostbackground.PNG');">
                <div style="border: 2px solid rgba(246,246,246);background-color: rgba(246,246,246,.85);border-radius: 10px;">
                    <br />
                    <div class="text-center">
                        <a href="@Url.Action("Signin","Login")" class="btn btn-default btn-rounded mb-4">
                            <b>Join Us</b>
                        </a><br /><br />
                        @*<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">
                                Join Us
                            </a><br /><br />*@
                        <a href="@Url.Action("Signin","Login")">
                            <b><u>Already a Member. Sign In!</u></b>
                        </a>
                    </div><br />
                </div>
            </div>
        }
        <br />
        @Html.Partial("~/Views/Timeline/_FeedPost.cshtml")
    </div>
    <div class="col-sm-3">
        <h3 class="text-center">WEBSITES</h3>
        <div class="round service-wrapper" style="border: solid 1px #d8d8d8; margin-top: 10px; background-color: White;">
            @*<div id="jsMarquee" style="text-align: center;">
                </div>*@
            <div style="text-align: center;position: relative;height: 400px;overflow: hidden;">
                <a href="https://www.nih.gov" target="_blank">National Institutes of Health</a><br /><br />
                <a href="https://www.webmd.com" target="_blank">WedMD</a><br /><br />
                <a href="https://www.drugs.com" target="_blank">Drug information Online</a><br /><br />
                <a href="https://www.who.int/" target="_blank">World Health organization</a><br /><br />
                <a href="https://www.worldometers.info/coronavirus/" target="_blank">World Coronavirus Tracker</a><br /><br />
                <a href="https://www.mohfw.gov.in/" target="_blank">Ministry of Health and Family Welfare - Government of India</a><br /><br />
                <a href="https://www.mygov.in/covid-19" target="_blank">myGOV - Covid 19 Page </a><br /><br />
                <a href="https://www.covid19india.org/" target="_blank">Covid 19 India Tracker - A crowdsourced initiative.</a><br /><br />
                <a href="https://indiasmile.org/covid/" target="_blank">Find How Near Covid19 is</a><br /><br />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            window.onload = function () {
                alert("@TempData["LoginAgain"]");
            };
</script>