@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #jsMarquee {
        position: relative; /* mandatory */ /* width: 200px;*/
        height: 175px; /* set as required */
        overflow: hidden; /* mandatory */
    }

    .divmark {
    }

    .column {
        float: left;
        width: 30%;
        text-align: center;
    }
</style>
<script>
    $(window).resize(function () { equalHeight('.column'); });
    $(document).ready(function () {
        equalHeight($(".column"));
    });

    function equalHeight(group) {
        tallest = 0;
        group.each(function () {
            thisHeight = $(this).height();
            if (thisHeight > tallest) {
                tallest = thisHeight;
            }
        });
        group.height(tallest);
    }
</script>

<!-- Homepage Slider -->
<div style="height:50vh;">

    <div id="sequence">
        <ul class="sequence-canvas">
            <!-- Slide 4 -->
            <li class="bg1 thumbnail">
                <!-- Slide Title -->
                <h2 class="title">Better healthcare experience.</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">
                    -Our Mission is Life..<br />
                    -Our specialty is you.<br />
                    -Partnerships for Health.<br />
                </h3>
                @*<img class="slide-img" img-responsive" src="/images/2.png" style="width:175px;height:150px" alt="Slide 1" />*@
                <img class="slide-img" src="/images/2.png" alt="Slide 1" />
            </li>
            <!-- End Slide 4 -->
            <!-- Slide 1 -->
            <li class="bg4">
                <!-- Slide Title -->
                <h2 class="title">Covid-19</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">Protecting yourself and others from the spread COVID-19</h3>
                <!-- Slide Image -->
                @*<img class="slide-img img-responsive" src="/images/3.png" style="width:450px;height:300px" alt="Slide 1" />*@
                <img class="slide-img img-responsive" src="/images/3.png" alt="Slide 1" />
            </li>
            <!-- End Slide 1 -->
            <!-- Slide 2 -->
            <li class="bg3">
                <!-- Slide Title -->
                <h2 class="title">Dr.Opinoin</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">The Healthcare Network</h3>
                <!-- Slide Image -->
                <img class="slide-img img-responsive" src="/images/1.png" alt="Slide 1" />
            </li>
            <!-- End Slide 2 -->
            <!-- Slide 3 -->
            <li class="bg2">
                <!-- Slide Title -->
                <h2 class="title">Our Mission </h2>
                <!-- Slide Text -->
                <h3 class="subtitle">Working for Your Better Health.</h3>
                <!-- Slide Image -->
                @*<img class="slide-img img-responsive" src="/images/4.png" style="width:450px;height:500px" alt="Slide 1" />*@
                <img class="slide-img img-responsive" src="/images/4.png" alt="Slide 1" />
            </li>
            <!-- End Slide 3 -->
        </ul>

    </div>
</div>
<!-- End Homepage Slider -->
<!-- Press Coverage -->
<br />
<br />
<div class="section">
    <div class="container">
        <div class="row">
            <div class="column col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img src="/images/achievement.png" class="img-thumbnail" alt="Service 1">
                    <h3> Why Dr.Opinion?</h3>
                    <p>  DrOpinion has vision is to develop a dedicated network for healthcare specialists where they can collaborate in order to provide better healthcare to the world. </p>
                    <a href='@Url.Action("Focus03", "Home")' class="w3-button w3-blue">    Read more   </a>
                </div>
            </div>
            <div class="column col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img src="/images/proxypunch.png" class="img-thumbnail" alt="Service 2">
                    <h3> Facing Proxy Punch problem?</h3>
                    <p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
                    @Html.ActionLink("Read more", "Focus04", "Home", null, new { @class = "btn" })
                </div>
            </div>
            <div class="column col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img class="img-thumbnail" src="@Url.Content("/images/SaviorNew.gif")" />
                    <h3>New Launch !</h3>
                    <p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
                    @Html.ActionLink("Read more", "Productdtl", "Solutions", new { pval = "finger11", pvalt = "finger" }, new { @class = "btn" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class=" col-md-4 col-sm-6">
                <div class="round service-wrapper" style="border: solid 1px #d8d8d8; margin-top: 10px; background-color: White;">
                    <div class="headerRound" style="padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;
                       border-bottom-color: #d8d8d8; border-bottom-style: solid; border-bottom-width: 1px;
                       background-color: rgb(242,242,242); background-attachment: scroll; z-index: 1;">
                        <h3 class="headertxt">Ratings</h3>
                    </div>
                    <div>
                        <center>
                            @*<img alt="imgRating" style="margin-top: 10px;" src="@{images/ratings.jpg}" width="100px" />*@
                            <img alt="imgRating" style="margin-top: 10px;" src="/images/ratings.jpg" width:"100px" class="img-responsive img-thumbnail" />
                        </center>
                    </div>
                    <ul style="margin-top: 0px; margin-left: 25px; margin-right: 25px; margin-bottom: 38px; padding: 0px; text-align: justify; list-style-image: url('../images/arrowli-active.jpg')">
                        <li>
                            Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque
                        </li>
                        <li>
                            Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="round service-wrapper" style="border: solid 1px #d8d8d8; margin-top: 10px; background-color: White;">
                    <div class="headerRound" style="padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;
                       border-bottom-color: #d8d8d8; border-bottom-style: solid; border-bottom-width: 1px;
                       background-color: rgb(242,242,242); background-attachment: scroll; z-index: 1;">
                        <h3 class="headertxt">Product Catagory</h3>
                    </div>
                    <div style="text-align: center; margin-bottom: 10px; margin-top: 10px;margin-left:25px">
                        <img alt="contact" src="/images/products.gif" class="img-responsive" width="200" height="100" />
                    </div>
                    <div style="padding-bottom: 0px; padding-left: 15px;">
                        <table style="border-style:none;border-collapse:collapse;width:100%" id="tblProducts">

                            @foreach (dropinion4u.Models.urllink jap in ViewBag.listdata)
                            {
                                <tr>
                                    <td>
                                        <img src="../images/arrowli-active.jpg" />&nbsp;
                                    </td>
                                    <td style="text-align:left">
                                        @Html.ActionLink(@jap.NAME, @jap.action1, @jap.control1)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="round service-wrapper" style="border: solid 1px #d8d8d8; padding-bottom: 65px; margin-top: 10px; background-color: White;">
                    <div class="headerRound" style="padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;
                       border-bottom-color: #d8d8d8; border-bottom-style: solid; border-bottom-width: 1px;
                       background-color: rgb(242,242,242); background-attachment: scroll; z-index: 1;">
                        <h3>Highlights</h3>
                    </div>
                    <div id="jsMarquee" style="margin: 15px; text-align: center;">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class=" col-md-4 col-sm-6">
                <div class="round service-wrapper" style="border: solid 1px #d8d8d8; margin-top: 10px; background-color: White;">
                    <div class="headerRound" style="padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;
                       border-bottom-color: #d8d8d8; border-bottom-style: solid; border-bottom-width: 1px;
                       background-color: rgb(242,242,242); background-attachment: scroll; z-index: 1;">
                        <h3 class="headertxt">LATEST INDUSTRY UPDATES</h3>
                    </div>

                    @Html.Partial("~/Views/WebParts/_RssFeeds.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("/css/icomoon-social.css")
    @Styles.Render("/Content/bootstrap1.css")
    @Styles.Render("/Content/bootstrap.min.css")
    @Scripts.Render("/js/jsMarQuee.js")
    @Scripts.Render("/js/jquery.sequence-min.js")
    @Scripts.Render("/js/template.js")
    @Scripts.Render("/js/jquery.bxslider.js")

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#media').carousel({
            //    interval: 2000
            //})
            $('#imgmap').mouseenter(function () {
                $(this).animate({

                    height: '400px',
                    width: '450px'
                }, 5000);
            });
            $('#imgmap').mouseleave(function () {
                $(this).animate({
                    height: '200px',
                    width: '250px'
                }, 5000);
            });
        });
    </script>
}
