@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #jsMarquee {
        position: relative; /* mandatory */ /* width: 200px;*/
        height: 400px; /* set as required */
        overflow: hidden; /* mandatory */
    }

    .divmark {
    }

    .column {
        float: left;
        width: 30%;
        text-align: center;
    }
</style>
<script>
    $(window).resize(function () { equalHeight('.column'); });
    $(document).ready(function () {
        equalHeight($(".column"));
    });

    function equalHeight(group) {
        tallest = 0;
        group.each(function () {
            thisHeight = $(this).height();
            if (thisHeight > tallest) {
                tallest = thisHeight;
            }
        });
        group.height(tallest);
    }
</script>
<div class="row">
    <div class="col-sm-3">
        <h3 class="text-center"> NEWSFEEDS </h3>
        <div class="round service-wrapper" style="border: solid 1px #d8d8d8; margin-top: 10px; background-color: White;">            
                @Html.Partial("~/Views/WebParts/_RssFeeds.cshtml")
        </div>
    </div>
    <!-- Homepage Slider -->
    <div class="col-sm-6">
        <br />
        <div class="nav-custom">
            <div class="tab-content tab-custom">
                <div id="new" class="tab-pane fade in active ">
                    <div class="slider">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" id="divImages">
                                <div class='item active'>
                                    <img style="height:200px;width:100%" src="/images/01.png" />
                                    <div class='carousel-caption'>
                                        <a data-toggle='modal' data-target='#3' style="color:white"><b>Dr.Opinoin</b></a><br />
                                        <a data-toggle='modal' data-target='#3' style="color:white">Dr Opinion Point has vision is to develop a dedicated network for healthcare specialists where they can collaborate in order to provide better healthcare to the world.</a>
                                    </div>
                                </div>
                                <div class='item'>
                                    <img style="height:200px;width:100%" src="/images/02.png" />
                                    <div class='carousel-caption'>
                                        <a data-toggle='modal' data-target='#1' style="color:white"><b>Our Mission</b></a><br />
                                        <a data-toggle='modal' data-target='#1' style="color:white">
                                            -Our Mission is Better Health Of People<br />
                                            -We Partnership for Health.<br />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Homepage Slider -->
    <!-- Press Coverage -->
    <div class="col-sm-3">
        <h3 class="text-center">HIGHLIGHTS</h3>
        <div class="round service-wrapper" style="border: solid 1px #d8d8d8; margin-top: 10px; background-color: White;">
            <div id="jsMarquee" style="text-align: center;">
            </div>
        </div>
        @*<div class="round service-wrapper" style="border: solid 1px #d8d8d8; margin-top: 10px; background-color: White;">
            <div class="headerRound" style="padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;
                       border-bottom-color: #d8d8d8; border-bottom-style: solid; border-bottom-width: 1px;
                       background-color: rgb(242,242,242); background-attachment: scroll; z-index: 1;">
                <h3 class="headertxt">Product Catagory</h3>
            </div>
            <div style="text-align: center; margin-bottom: 10px; margin-top: 10px;margin-left:25px">
                <img alt="contact" src="/images/products.gif" class="img-responsive" width="200" height="100" />
            </div>
            <div style="padding-bottom: 0px; padding-left: 15px;">
                <table style="border-style:none;border-collapse:collapse;width:100%" id="tblProducts">

                    @foreach (dropinion4u.Models.urllink jap in ViewBag.listdata)
                    {
                        <tr>
                            <td>
                                <img src="../images/arrowli-active.jpg" />&nbsp;
                            </td>
                            <td style="text-align:left">
                                @Html.ActionLink(@jap.NAME, @jap.action1, @jap.control1)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>*@
    </div>
</div>
@section Scripts {
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("/css/icomoon-social.css")
    @Styles.Render("/Content/bootstrap1.css")
    @Styles.Render("/Content/bootstrap.min.css")
    @Scripts.Render("/js/jsMarQuee.js")
    @Scripts.Render("/js/jquery.sequence-min.js")
    @Scripts.Render("/js/template.js")
    @Scripts.Render("/js/jquery.bxslider.js")

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#media').carousel({
            //    interval: 2000
            //})
            $('#imgmap').mouseenter(function () {
                $(this).animate({

                    height: '400px',
                    width: '450px'
                }, 5000);
            });
            $('#imgmap').mouseleave(function () {
                $(this).animate({
                    height: '200px',
                    width: '250px'
                }, 5000);
            });
        });
    </script>
}
