@using DataAccess;
@model BusinessEntities.posts
@{
    List<BusinessEntities.posts> CommentList = new DataAccess.DirectoryDataAccess().GetCommentListOnPost("POST");
    List<BusinessEntities.posts> LikeList = new DataAccess.DirectoryDataAccess().GetLikeCount("POST");
    List<BusinessEntities.posts> PostList = new DataAccess.DirectoryDataAccess().GetPost();

    int RoleId = Convert.ToInt32(HttpContext.Current.Session["RoleId"]);
    int loggedUserId = Convert.ToInt32(HttpContext.Current.Session["ID"]);
}
@foreach (var cp in PostList)
{
    <div data-pagelet="FeedUnit_{n}" style="border: 2px solid rgba(246,246,246,.9);margin-bottom:16px;" class="postveryveryouter">
        <div class="userimageandtitle">
            <!--User Image-->
            <a style="color: #385898;" class="postouter" href="@Url.Action("UserProfile", "Home")" role="link" tabindex="0">
                <img class="postimage" style="display: block;border: 0;" height="40" src="~/images/1.png" width="40" alt="">
            </a>
            <div style="flex-grow: 1;">
                <strong><a style="color:black;" href="/User/UserProfile?Usercode=@cp.UserCode"> @cp.PostedByName</a></strong>
                <div>
                    <ul class="navbar-nav mr-auto" style="display:-webkit-inline-box;">
                        <li class="nav-item dropdown">
                            <a style="color:GrayText;font-size:x-small" class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <time class="timeago">@cp.PostedDate &nbsp;</time>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="color:GrayText;font-size:x-small" class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-globe"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="navbar" style="padding:0">
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a style="color:GrayText;" class="nav-link" href="#" id="ellipsisfeed_{n}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-ellipsis-v"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ellipsisfeed_{n}">
                                <a class="dropdown-item" title="Report Post" onclick="FlagPost(@cp.PostId,@cp.UserCode)">
                                    <span class="fa fa-flag"> </span>
                                    Flag post
                                </a>
                                @if (RoleId != Convert.ToInt32("12"))
                                {
                                    if (RoleId == Convert.ToInt32("1"))
                                    {
                                        <a class="dropdown-item" title="Delete Post" onclick="DeletePost(@cp.PostId)">
                                            <span class="fa fa-trash"></span>
                                            Delete Post
                                        </a>
                                    }
                                    else
                                    {
                                        if (loggedUserId == Convert.ToInt32(cp.PostedBy))
                                        {
                                            <a class="dropdown-item" title="Delete  Post" onclick="DeletePost(@cp.PostId)">
                                                <span class="fa fa-trash"></span>
                                                Delete Post
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="posttext">
            @{
                @cp.Message
            }
        </div>
        <div class="likecommentinfo" style="">
            <div style="align-items: center;display: flex;flex-grow: 1;overflow-x: hidden;overflow-y: hidden;">
                <span aria-label="See who reacted to this" role="toolbar" style="align-items: center;display: flex;">
                    <span class="fa fa-thumbs-up" style="color: royalblue;"></span>
                </span>
                @*@Html.Partial("~/Views/SelfProfile/_likeCount.cshtml", new ViewDataDictionary { { "cpid", cp.PostId } })*@
                <span style="padding-left: 6px;">@LikeList.Where(l => l.PostId == cp.PostId).Count() like(s)</span>
            </div>
            <div>
                <button class="btn btn-default" title="Comment On Post" onclick="showhide(@cp.PostId);">
                    @CommentList.Where(l => l.PostId == cp.PostId).Count() comment(s)
                </button>
            </div>
        </div>
        <hr />
        <div style="display: flex;">
            <span class="likecommentpanel">
                <button class="btn btn-default" title="Like Post" id="@cp.PostId&Identifier=POST" onclick="LoadPostLike(this);">
                    <span class="fa fa-thumbs-o-up" style="color:GrayText;font-size:14px;"></span>
                    <span style="font-size:small">Like</span>
                </button>
            </span>
            <span class="likecommentpanel">
                <button class="btn btn-default" title="Comment On Post" onclick="showhide(@cp.PostId);">
                    <span class="fa fa-comment-o" style="color:GrayText;font-size:14px;"></span>
                    <span style="font-size:small">Comment</span>
                </button>
            </span>
            <span class="likecommentpanel">
                <button class="btn btn-default" title="Share Post" onclick="">
                    <span class="fa fa-share-square-o" style="color:GrayText;font-size:14px;"></span>
                    <span style="font-size:small">Share</span>
                </button>
            </span>
        </div>
        @*@if (CommentList.Where(l => l.PostId == cp.PostId).Count() > 0)
            {
                <hr />
            }*@
        <hr />
        <div class="input-group" id="@cp.PostId" style="padding:10px 0px 10px 4px">
            <a style="color: #385898;padding-top:6px;" class="postouter" href="@Url.Action("UserProfile", "Home")" role="link" tabindex="0">
                <img class="postimage" style="display: block;border: 0;" height="32" src="~/images/1.png" width="32" alt="">
            </a>
            <!--Post Text box-->
            <input type="hidden" class="PostId" value="@cp.PostId" />
            <span role="textbox" contenteditable="true" class="textarea col-9 col-sm-10 col-md-10 col-lg-9 col-xl-10" id="txt_@cp.PostId" style="background-color:rgb(242,242,242);"></span>
            &nbsp;
            <!--Post Button-->
            <div style="position:relative;">
                <span id="@cp.PostId" onclick="PostComment(this);" class="fa fa-chevron-circle-right" style="position:absolute;bottom:0;font-size:30px;color:lightseagreen"></span>
            </div>
        </div>

        <div style="display:none;" id="P_@cp.PostId" class="publishComment">
            @foreach (var cmt in CommentList.Where(l => l.PostId == cp.PostId))
            {
                <div class="input-group" style="margin-bottom: 6px;">
                    <a style="color: #385898;padding-top:6px;padding-left:4px;" class="postouter" href="@Url.Action("UserProfile", "Home")" role="link" tabindex="0">
                        <img class="postimage" style="display: block;border: 0;" height="30" src="~/images/1.png" width="30" alt="">
                    </a>
                    <div class="col-10 col-sm-11 col-lg-10 col-xl-10">
                        <div style="background-color: rgb(242,242,242); border-radius: 8px;padding: 5px 5px;">
                            <a href="/User/UserProfile?Usercode=@cmt.UserCode">@cmt.CommentedByName</a>
                            <small class="pull-right" style="color:GrayText;font-size:x-small;">@cmt.CommentedDate</small><br />
                            @cmt.Message
                        </div>
                        <div>
                            &nbsp;&nbsp;<span class="fa fa-thumbs-up" style="color:royalblue;font-size:smaller;">1&nbsp;</span>
                            <span style="color: GrayText; font-size:smaller;font-weight:bold">&nbsp;&nbsp;Like&nbsp;</span>
                            <span style="color: GrayText; font-size: smaller;font-weight:bold">&nbsp;Reply&nbsp;</span>
                            <!--Show hide on Reply click-->
                            <div>
                                <div class="input-group" style="padding:10px 0px 10px 4px">
                                    <a style="color: #385898;padding-top:6px;" class="postouter" href="@Url.Action("UserProfile", "Home")" role="link" tabindex="0">
                                        <img class="postimage" style="display: block;border: 0;" height="32" src="~/images/1.png" width="32" alt="">
                                    </a>
                                    <!--Post Text box-->
                                    <input type="hidden" class="PostId" value="@cp.PostId" />
                                    <span role="textbox" contenteditable="true" class="textarea col-9 col-sm-10 col-md-10 col-lg-9 col-xl-10" id="txt_@cp.PostId" style="background-color:rgb(242,242,242);"></span>
                                    &nbsp;
                                    <!--Post Button-->
                                    <div style="position:relative;">
                                        <span id="@cp.PostId" onclick="PostComment(this);" class="fa fa-chevron-circle-right" style="position:absolute;bottom:0;font-size:30px;color:lightseagreen"></span>
                                    </div>
                                </div>
                                <div id="P_@cp.PostId" class="publishComment">
                                    @foreach (var cmtinside in CommentList.Where(l => l.PostId == cp.PostId))
                                    {
                                        <div class="input-group" style="margin-bottom: 6px;">
                                            <a style="color: #385898;padding-top:6px;padding-left:4px;" class="postouter" href="@Url.Action("UserProfile", "Home")" role="link" tabindex="0">
                                                <img class="postimage" style="display: block;border: 0;" height="30" src="~/images/1.png" width="30" alt="">
                                            </a>
                                            <div class="col-10 col-sm-11 col-lg-10 col-xl-10">
                                                <div style="background-color: rgb(242,242,242); border-radius: 8px;padding: 5px 5px;">
                                                    <a href="/User/UserProfile?Usercode=@cmtinside.UserCode">@cmtinside.CommentedByName</a>
                                                    <small class="pull-right" style="color:GrayText;font-size:x-small;">@cmtinside.CommentedDate</small><br />
                                                    @cmtinside.Message
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<script src="~/customscripts/_MyPostAndComment.js"></script>