
@{
    ViewBag.Title = "SigninVerify";
}

@using (Html.BeginForm("SigninVerify", "Login", FormMethod.Post))
{
    //this  is for create form tag
    @Html.AntiForgeryToken()
    // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                @Session["email"]
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-lock prefix grey-text"></i>

                    <input type="hidden" id="email" name="email" value="@Session["email"]" />                    
                    <input type="password" id="defaultForm-pass" class="form-control validate" name="pass">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                    <br />
                    @TempData["P_error"]                   
                    <button class="btn btn-success">Next</button>
                </div>              
            </div>
         
        </div>
    </div>

}

