<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="dropinion, corona, covid19, Drhelp, theses, paper, corona test, MBBS doctors, Phd Docters,MS, MD, lab, xrays, Women's health , joint replacement, Journals, Medical Blogs, Doctor Network, Doctor World, Medicines, Hydrocephalus, Brain Dropsy" />
    <meta name="description" content="DrOpinion has vision is to develop a dedicated network for healthcare specialists where they can collaborate in order to provide better healthcare to the world." />
    <title>Dr.Opinion </title>
    <script data-ad-client="ca-pub-2775227006482625" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("/Content/main.css")
    @Styles.Render("/css/icomoon-social.css")
    @Styles.Render("/Content/bootstrap1.css")
    @Styles.Render("/Content/bootstrap.min.css")
    @Scripts.Render("/js/jsMarQuee.js")
    @Scripts.Render("/js/jquery.sequence-min.js")
    @Scripts.Render("/js/template.js")
    @Scripts.Render("/js/jquery.bxslider.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/chat.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgb(242,242,242)">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-sm-2">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images/Logo.png" alt="" height="55px;" />
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-sm-9 right">
                    <div class="navbar-collapse collapse">
                        @*@Html.Partial("~/Views/Shared/_search.cshtml")*@
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a data-toggle="modal" data-target="#modalFeedbackForm" style="cursor:pointer">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    Feedback
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" title="More" href="#">
                                    More
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@Url.Action("Privacy","Support")">
                                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                                            Terms and Conditions
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("FAQs","Support")">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                            FAQs
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        @*@Html.Partial("_LoginPartial")*@
                    </div>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer-bg" style="display:none">
        <div class="container">
            <p class="pull-left">
                <a href="#">&copy; 2020 - Dr. Opinion Point - Copyright Protected</a>
            </p>
            <p class="pull-right"><a href="@Url.Action("Privacy", "Support")" target="_blank">Terms and Conditions</a></p>
        </div>
    </div>
</body>
@Html.Partial("~/Views/WebParts/_CookiesBanner.cshtml")
@Html.Partial("~/Views/ModalDialog/_LoginForm.cshtml")
@Html.Partial("~/Views/ModalDialog/_PostForm.cshtml")
@Html.Partial("~/Views/ModalDialog/_FeedbackForm.cshtml")
</html>
